# Data Stucture

### Data Stucture acts as container to store multiple values in one variable
### We perform Data Manupulation in Data Structure like add, delete, replace/update

Two types of Data Structure
 1) Homogenous Data Structure (Same) all values inside data stucture are with same datatype
 2) Heterogenous Data Structure (Different)

Homogenous DS
    - Array (mutable)
Heterogenous DS
 1) Mutable (perform changes)
    -list (built-in method)
    -dictionary (built-in method)
    -DataFrame (Table)
 2) Immutable (not allowed to perform changes)
    -Tuple (built-in method)
    -set (built-in method)

Note :- Array and DataFrame not built-in we need external library for use

# List

LIST : []
Ordered             -> Elements are stored in a specific sequence, and indexing follow the order.
Mutable             -> Lists can be modified (Elemtns can be added, removed, or changed).
Heterogenous        -> A list can store different data types(integers,string,floats,etc.).
Indexted            -> Elements can be accedde using zero-based indexing and negative indexing.
Allows Duplicates   -> Lists can contain duplicaate values.
Dynamic Size        -> The size of a list dan grow or shrink dynamically based on operations

In [2]:
lst = [] #empty list
print(lst)
print(type(lst))

[]
<class 'list'>

In [3]:
xyz = list()  #create list using built-in method
type(xyz)

list

In [4]:
lst1 = [10, 20.2, 'python', True] #orederd they have fix position
lst1

[10, 20.2, 'python', True]

In [5]:
# indexing
#  0     1       2      3     Positive index
# [10, 20.2, 'python', True]
#  -4    -3     -2      -1    Negative index


print(lst1[1]) #positive indexing start with 0, 1,..
print(lst1[-1])   #negative indexing -1, -2, -3,... (reverse order)

20.2
True

In [6]:
#list slicing
lst1[0:3]

[10, 20.2, 'python']

### Adding value in list

- append(value)
    add value at end of the list
- extend()
    add value at last but if we provide list add value seprate not entire list in last...if we give string each char store sepratly not entire string
- insert(idx,value)
    add value at specified position

In [7]:
lst1.append('Banana')
lst1

[10, 20.2, 'python', True, 'Banana']

In [8]:
lst1.append([12,13])
print(lst1)

[10, 20.2, 'python', True, 'Banana', [12, 13]]

In [9]:
lst1.extend('HEllo')
lst1

[10, 20.2, 'python', True, 'Banana', [12, 13], 'H', 'E', 'l', 'l', 'o']

In [10]:
lst1.insert(1,3123) #add value 3123 at index 1
print(lst1)

[10, 3123, 20.2, 'python', True, 'Banana', [12, 13], 'H', 'E', 'l', 'l', 'o']

#### index()   -> find index of that perticular value

In [11]:
# find index position
lst1.index('python') # if find positin of that value

3

### Remove values from list

- pop(idx) 
    it return value what we delete
    if idx not specified it consider last index
- remove(value)
    using value we removed that from list
- clear()
    remove all element from list

In [12]:
print(lst1)
lst1.pop(2)
print(lst1)

[10, 3123, 20.2, 'python', True, 'Banana', [12, 13], 'H', 'E', 'l', 'l', 'o']
[10, 3123, 'python', True, 'Banana', [12, 13], 'H', 'E', 'l', 'l', 'o']

In [13]:
print(lst1)
lst1.remove('l') #only one value remove....the first appereace of that value deleted
print(lst1)

[10, 3123, 'python', True, 'Banana', [12, 13], 'H', 'E', 'l', 'l', 'o']
[10, 3123, 'python', True, 'Banana', [12, 13], 'H', 'E', 'l', 'o']

In [14]:
print(lst1)
lst1.clear()
print(lst1)

[10, 3123, 'python', True, 'Banana', [12, 13], 'H', 'E', 'l', 'o']
[]

## Replace/Update element in list

In [3]:
lst=['hello', 132, 13.3, True, False]
print(f'Before Replacing : {lst}')
lst[1] = 100  #here we apply indexing operation..all we here is just assign value to that perticular index
print(f'After Replacing : {lst}')

Before Replacing : ['hello', 132, 13.3, True, False]
After Replacing : ['hello', 100, 13.3, True, False]

### copy()

In [5]:
# create copy of list that we define earlier
abc = lst.copy()
print(lst)
print(abc) #same list in this variable

['hello', 100, 13.3, True, False]
['hello', 100, 13.3, True, False]

### sort()
#### NOTE :- All values in list have same datatype otherwise it gets error

In [13]:
# sort the list in ascending or descending order...bydefault order is ascending
l=[2,3,4,2,1]  #same type of element present eaither numerical (here we also provide bool) or text
srt = l.sort()
print(l)

[1, 2, 2, 3, 4]

In [16]:
# if we want descending order..there is parameter name reverse 
l=[2,3,4,2,1.2]  
srt = l.sort(reverse=True)
print(l)

[4, 3, 2, 2, 1.2, False]

### reverse()

In [15]:
lst = ['21' , 'hello', 23, 32.11, True]
print(f'Before Reversing : {lst}')
lst.reverse() #reverse the list
print(f'After Reversing : {lst}')

Before Reversing : ['21', 'hello', 23, 32.11, True]
After Reversing : [True, 32.11, 23, 'hello', '21']

### count(value)

In [10]:
# count the value
lst = [1, 2, 2, 2, 3]
print(lst.count(2)) #there 3 element have same value 2

3

Note :- argument is an input for we use for that function

# Tuple

TUPLE : ()
Ordered             -> Elements are stored in a specific sequence, and indexing follow the order.
Immutable           -> Tuples cannot be modified after cration(no adding, removing or changing value).
Heterogenous        -> A Tuples can store different data types(integers,string,floats,etc.).
Indexted            -> Elements can be accedde using zero-based indexing and negative indexing.
Allows Duplicates   -> Tuples can contain duplicaate values.
Fixed Size          -> Once created, the tuple's size remains constant (because of immutable )

## creation of tuple

In [17]:
xyz = () #empty tuple
type(xyz)

tuple

In [42]:
# NOTE :- If you try to add only one value in tuple parathensis then that value consider as 'int'
t = (1)   #lets we add only one value inside parathensis
print(f'when we add only one value then type is : {type(t)}')


# we add only one value in tuple we have to provide comma then
t= (1,)  #not this is tuple cause we provide comma
print(f'After providing comman : {type(t)}')

when we add only one value then type is : <class 'int'>
After providing comman : <class 'tuple'>

In [18]:
abc = tuple() #create using function tuple
type(abc)

tuple

In [21]:
x = (12, 12, 45.3, False, 'Deep Mining')
type(x)

tuple

In [22]:
# indexing same as list
x[3]

False

In [32]:
# tuple is immutable can't change its value
x=(12, 23)
x[1]=32
x   

# NOTE :- tuple is immutable that's the reason we get error here we try to change value

TypeError: 'tuple' object does not support item assignment

NOTE :- tuple we used when we want security and privacy

### count(value)

In [33]:
#count value
t = (12, 12, 23,12, 12 , 12, 34, 32, 'hello', 13.2, True)
print(f'12 present in tuple {t.count(12)} times')

12 present in tuple 5 times

### index(value)

In [34]:
# find the index of the sepecific value
t = (12, 12, 23,12, 12 , 12, 34, 32, 'hello', 13.2, True)
print(f'Index of 23 is {t.index(23)}')

Index of 23 is 2

# *Dictionary*

DICTIONARY : {key : value}
Ordered                        -> Elements are stored in a specific sequence.
key-value pairs                -> Store data as {key:value}pairs.
Key Must be Unique & Immutable -> keys must be unique and  immutable types(e.g, string number or tuples with immutalbe elements) it means we use tuple also as key.
Values can we any type         -> values can be of any data type including lists and othere dictionary, etc
Mutable                        -> Dictionary can be modified (Elemtns can be added, removed, or changed).
Heterogenous                   -> A Dictionary can store different data types(integers,string,floats,etc.).
Elements Access by keys        -> Elements only access using keys.
Does not allow Duplicate Keys  -> Lists can not contain duplicate values.

## creation of dictionary

In [36]:
# empty dictionary
details = {}
type(details)

dict

In [52]:
d = {'Name' : 'Roshan', 'Age' : 23}
type(d)

dict

## keys()  - return all keys present in dictionary return as list

In [53]:
d = {'Name' : 'Roshan', 'Age' : 23}
d.keys()

dict_keys(['Name', 'Age'])

## values()  - return all values dictionary return as list

In [54]:
d = {'Name' : 'Roshan', 'Age' : 23}
d.values()

dict_values(['Roshan', 23])

### Replace Element

In [3]:
# Replace element
d = {'Name' : 'Roshan', 'Age' : 23}
d['Name'] = 'Rahul'  #using this also we replace value of specific keys
d

{'Name': 'Rahul', 'Age': 23}

## update(dict) 
#### we have to provide dictionary inside update

In [55]:
#we add one key value inside dictionary
d = {'Name' : 'Roshan', 'Age' : 23}
d.update({'Date':'April 2025'})
d

{'Name': 'Roshan', 'Age': 23, 'Date': 'April 2025'}

In [56]:
#we add multiple  key value inside dictionary seprate by comma
d = {'Name' : 'Roshan', 'Age' : 23}
d.update({'Address':'Satara', 'Course':'DS'})
d

{'Name': 'Roshan', 'Age': 23, 'Address': 'Satara', 'Course': 'DS'}

In [57]:
d = {'Name' : 'Roshan', 'Age' : 23}
d.update({'Name':'Rahul'})
d   

# NOTE :- if there is key already present in our dictionary then it update the name.
# ...and if key is not present then it add seprate key:value pair in dictionary

{'Name': 'Rahul', 'Age': 23}

In [58]:
d = {'Name' : 'Roshan', 'Age' : 23}
d.update({'Food' : ['Mango', 'Pav-Bhaji']}) 
d  #we also add list as a value

{'Name': 'Roshan', 'Age': 23, 'Food': ['Mango', 'Pav-Bhaji']}

## clear()

In [60]:
d = {'Name' : 'Roshan', 'Age' : 23}
d.clear()  #remove all elements from list
d

{}

## items()

In [62]:
d = {'Name' : 'Roshan', 'Age' : 23}
d.items()  #get all element as a key value
d

{'Name': 'Roshan', 'Age': 23}

## copy()

In [66]:
# copy dictionary to sepate list
d = {'Name' : 'Roshan', 'Age' : 23}
cp=d.copy()
cp

{'Name': 'Roshan', 'Age': 23}

## pop()

In [73]:
# Remove elemnt using keys
d = {'Name' : 'Roshan', 'Age' : 23}
d.pop('Age')  
d

{'Name': 'Roshan'}

## popitem()

In [78]:
# remove last key:value pair also return that delete key: vlaue as tuple
d = {'Name' : 'Roshan', 'Age' : 23}
print(f' delete item {d.popitem()} ') 
print(f' After pop item dictionary look like {d}')

 delete item ('Age', 23)
 After pop item dictionary look like {'Name': 'Roshan'}

# Set

set : {}
Unordered                              :- Elements in a set do not have a fixed order.
Unindexed                              :- Elemnts cannot be accessed using an index like lists or tuples.
Mutable(but Elemnts Must Be Immutable) :- You can add or remove elemnts, but individual elements must be of immutable types (e.g, numbers, strings, tuples with immutable elemts).
No Duplicated Allowed                  :- Automatically removes duplicate element
Dynamic Size                           :- Can grow or shirng dynamically based on operations.
Heterogenous Data Sturcture            :- You add differnt data types / data structure..but only those are immutable

### creation of set

In [5]:
# empty set
s = {} #this is not set this is dictionary
# if you want to create empty set then use built-in function set
s = set()  
type(s)

# NOTE - if you use curly brackets {} without key-value pairs...then it consider as set

set

In [15]:
#unordered
s = {12, 23, 12 , 12.3, False, True , 43, 23, 'hello','by'}
print(s) # ordered is not maitained...by comes before hello

{False, True, 'hello', 43, 12, 12.3, 'by', 23}

In [16]:
# unindexed
s = {12, 23, 12 , 12.3, False, True , 43, 23, 'hello','by'}
s[1]  #error comes if you try to fetch using index

TypeError: 'set' object is not subscriptable

### add(value)

In [21]:
# you can add element in set using add function
s = set()  #empty set
s.add(12)  # add 12 first time
s.add(12) #we add 12 second time here but set not get duplicated value.
s.add('hello')  # add hello
print(s)

{'hello', 12}

In [23]:
s = set()
s.add(['hi','by'])
s
# we get error here because set not take mutable data structure list as a value
# when we add value make sure...value is immutable data type..like number,string, tuple

TypeError: unhashable type: 'list'

### pop()

In [28]:
# delete any random value in set
s = {223,23,34,54}
s.pop()
s

{23, 54, 223}

### remove(value)

In [31]:
# remove specified value in set
s = {'hi', 'there', 13, 34.2, True}
s.remove('hi')
s

{13, 34.2, True, 'there'}

### duplicates element not possible in set

In [34]:
s = {1,1,1,1,1,1,1,1,1,1,3,3,3,3}
s  #duplicates not allowed in set

{1, 3}

# Typecasting
### A method of changing data type or data structure of any variable

In [45]:
# convert list to set
l = [1,1,23,23,22, 43, 32, 23, 32]
unique_set = set(l)   #typecast list to set using set() function
print("Type cast list to set",unique_set)

l = list(unique_set)
print("Type cast set to list",l)

Type cast list to set {32, 1, 43, 22, 23}
Type cast set to list [32, 1, 43, 22, 23]

In [48]:
# here we want all unique element in list
l = [1,1,23,23,22, 43, 32, 23, 32]
l = list(set(l)) 
# here inner function perfrom set(l) - convert list to set
# then perfrom outer function list(output of set(l) - then it convert to list
type(l)

list