# Data Stucture

### Data Stucture acts as container to store multiple values in one variable
### We perform Data Manupulation in Data Structure like add, delete, replace/update

Two types of Data Structure
 1) Homogenous Data Structure (Same) all values inside data stucture are with same datatype
 2) Heterogenous Data Structure (Different)

Homogenous DS
    - Array (mutable)
Heterogenous DS
 1) Mutable (perform changes)
    -list (built-in method)
    -dictionary (built-in method)
    -DataFrame (Table)
 2) Immutable (not allowed to perform changes)
    -Tuple (built-in method)
    -set (built-in method)

Note :- Array and DataFrame not built-in we need external library for use

# List

LIST : []
Ordered             -> Elements are stored in a specific sequence, and indexing follow the order.
Mutable             -> Lists can be modified (Elemtns can be added, removed, or changed).
Heterogenous        -> A list can store different data types(integers,string,floats,etc.).
Indexted            -> Elements can be accedde using zero-based indexing and negative indexing.
Allows Duplicates   -> Lists can contain duplicaate values.
Dynamic Size        -> The size of a list dan grow or shrink dynamically based on operations

In [35]:
lst = [] #empty list
print(lst)
print(type(lst))

[]
<class 'list'>

In [36]:
xyz = list()  #create list using built-in method
type(xyz)

list

In [37]:
lst1 = [10, 20.2, 'python', True] #orederd they have fix position
lst1

[10, 20.2, 'python', True]

In [38]:
# indexing
#  0     1       2      3     Positive index
# [10, 20.2, 'python', True]
#  -4    -3     -2      -1    Negative index


print(lst1[1]) #positive indexing start with 0, 1,..
print(lst1[-1])   #negative indexing -1, -2, -3,... (reverse order)

20.2
True

In [39]:
#list slicing
lst1[0:3]

[10, 20.2, 'python']

### Adding value in list

- append(value)
    add value at end of the list
- extend()
    add value at last but if we provide list add value seprate not entire list in last...if we give string each char store sepratly not entire string
- insert(idx,value)
    add value at specified position

In [40]:
lst1.append('Banana')
lst1

[10, 20.2, 'python', True, 'Banana']

In [41]:
lst1.append([12,13])
print(lst1)

[10, 20.2, 'python', True, 'Banana', [12, 13]]

In [44]:
lst1.extend('HEllo')
lst1

[10,
 3123,
 20.2,
 'python',
 True,
 'Banana',
 [12, 13],
 112,
 233,
 'H',
 'E',
 'l',
 'l',
 'o']

In [43]:
lst1.insert(1,3123) #add value 3123 at index 1
print(lst1)

[10, 3123, 20.2, 'python', True, 'Banana', [12, 13], 112, 233]

#### index()   -> find index of that perticular value

In [45]:
# find index position
lst1.index('python') # if find positin of that value

3

### Remove values from list

- pop(idx) 
    it return value what we delete
    if idx not specified it consider last index
- remove(value)
    using value we removed that from list
- clear()
    remove all element from list

In [46]:
print(lst1)
lst1.pop(2)
print(lst1)

[10, 3123, 20.2, 'python', True, 'Banana', [12, 13], 112, 233, 'H', 'E', 'l', 'l', 'o']
[10, 3123, 'python', True, 'Banana', [12, 13], 112, 233, 'H', 'E', 'l', 'l', 'o']

In [47]:
print(lst1)
lst1.remove('l') #only one value remove....the first appereace of that value deleted
print(lst1)

[10, 3123, 'python', True, 'Banana', [12, 13], 112, 233, 'H', 'E', 'l', 'l', 'o']
[10, 3123, 'python', True, 'Banana', [12, 13], 112, 233, 'H', 'E', 'l', 'o']

In [48]:
print(lst1)
lst1.clear()
print(lst1)

[10, 3123, 'python', True, 'Banana', [12, 13], 112, 233, 'H', 'E', 'l', 'o']
[]

Note :- argument is an input for we use for that function