# Variable

Variable acts as container space to store any data.
It helps us to assign a memory location to a value which can be called whenever we want that value.
Variables can only start with letters and underscore.
Numbers can be added but not first.
Special Characters are not allowed.
Variable name should be given in such way that you understand.
Value assing using assignment operator.
Python is case sensitive.
Variable can't be keywords.

In [1]:
a = 20
hello_=123
_str="hi there! " 
a12_2= 12
#there are valid variable names

# Comments

Comments are those lines in code which we don't want to exicute.
They are use only for understanding purpose.

i) Single line comment , syntax = #

ii) Multiline comments, syntax = ''' <comment> '''    tripple quote

In [2]:
# This is single line comment

In [5]:
''' This is 
    multiline 
    comments... we store 1 in a'''  
a=1

# Data Types

Data types define what kind of value a variable can hold in a programming language.

Type   	     Example	        Description
int	         10, -5	            Integer (whole numbers)
float	     3.14, -0.5	        Decimal numbers (floating point)
str	         "hello"	        String (text)
bool	     True, False	    Boolean (True or False)
list	     [1, 2, 3]	        Ordered collection (can change)
tuple	     (1, 2, 3)	        Ordered collection (cannot change)
dict	     {"a": 1}	        Key-value pairs (like a map)
set	         {1, 2, 3}	        Unordered collection of unique items

In [7]:
a = 23               #integer
b = 2.32             #decimal/ float
c = "string"         #string
d = True             #bool
e = [1,'se', 23.2]   #list
f = (1, 12.2, 'h1')  #tuple
g = {a : 1}          #dictionary
h=  {1 , 1.2 , '22'} #set

### type()
#### This fuction tells use what is datatype of that variable

In [8]:
print(type(a))

print(type(f))

<class 'int'>
<class 'tuple'>

# String Method

## Trimming

#### a> strip = leading & tailing character remove by default space
#### b> lstrip = Leading / left side character removed bydefault space
#### c> rstrip = tailing / right side character removed bydefault space

In [15]:
text1 = '      hello     '
text2= '$$$$$$hello$$$$$'
print(text1.strip())
print(text2.strip('$'))

hello
hello

In [11]:
print(text1.lstrip())
print(text2.lstrip('$'

hello
hello$$$$$

In [13]:
print(text1.rstrip())
print(text2.rstrip('$'))

      hello
$$$$$$hello

## Splitting and Joining

### split() = Split the string into list

In [2]:
email='ro@gmail.com'
email.split('@')

['ro', 'gmail.com']

In [3]:
products='milk,bread,jam'
products.split(',')

['milk', 'bread', 'jam']

### join(iterable) = Join elements of an iterable wiht the string as seprator

In [14]:
#simple concatenation
s1='python'
s2='session'
s1+s2

'pythonsession'

In [19]:
#using join
'-'.join([s1,s2])   #join takes only one argument so we provide as a list

'python-session'

In [20]:
'''The join() method in Python inserts the calling string (s1 = 'python') between each character of the given iterable 
(s2 = 'session').
So, 'python'.join('session') means that the string 'python' is inserted between each letter of 'session'.'''

s1.join(s2)

'spythonepythonspythonspythonipythonopythonn'

## Formatiing
#### 1. formate() = Formats the string using placeholder
#### 2. f-strings(f"{var}" - faster and more redable string formatting

#### A format string is a string that includes placeholders to insert values dynamically — like variables, numbers, or other data — into the string.

In [24]:
name='Sanika'
age=23
course='DS'
print(f'{name} is {age} years old and takes {course} course and fee is {2333+1233}') #we also add mathematics here

Sanika is 23 years old and takes DS course and fee is 3566